<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/CSS/style.css" rel="stylesheet">
    </head>
    <body>
<h1>S i n g e r   N a m e</h1>
<%=singer.name%>
<h1>S o n g s</h1>
<%=singer.songs%><br/>
<form action='/:id/:edit'>
    <button type='submit'>E D I T</button>
</form>

    </body>
</html>