<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/CSS/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <h1 class='rocker newSinger'>I n s e r t      N e w       S i n g e r</h1>
    <form action="/music" method="POST">
    <h1 class='singer'>Name:</h1>
    <div class='singer div'>
        <input class='singer input' type="text" name="name">
    </div>
    <br/>
        <button class="new"type="submit">A D D  S I N G E R</button>
    </form>

    </body>
</html>